<tr>
  <td style="border:solid; border-width:1px; font-weight:bold;"><%= data_entry.to_s %></td>
  <td style="border:solid; border-width:1px; width: auto;"><%= adoption_application.public_send(data_entry) %></td>
</tr>
