<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style="color:#363691">A new adoption application form has been submitted.</h1>
    <div>
      <%= render "adoption_application_mailer_content",
        adoption_application: @adoption_application %>
    </div> 
  </body>
</html>

