<header>
  <h1> Adoption Application </h1>
</header>
<body>

</body>
<footer>
  Any Rat Rescue
  PO Box 833, Scottsdale, AZ 85252-0833
  <a href="www.anyratrescue.org">www.anyratrescue.org</a>
  info@anyratrescue.org
  480-663-3338
  Any Rat Rescue is a 501(c)(3) nonpreofit organization, incorporated in the State of Arizona
