<h1> Adoption Application </h1>

<% if @adoption_application.errors.any? %>
  <%= render 'error_messages/error_messages.html.erb', object: @adoption_application %>
<% end %>

<div class="form-questions">
  <%= render "form_fields" %>
</div>
