<h1>Donations</h1>

<div class="donate-page-text">
  <p>
    Any Rat Rescue relies on public support to keep their doors open to rats
    in need.
  <p>
</div>

<div class="button">
  <button class="with-link">
    <%= link_to "Donate Now", "https://www.paypal.com/", target: "_blank" %>
  </button>
</div>

<div class="donate-page-text">
  <p>
    We are always in need of many things. Any donations are greatly
    appreciated and will be put to good use. Don't forget...they're tax
    deductible too!
  </p>

  <p>
    Financial donations can be made via paypal. Alternatively there is a
    donation account at Scottsdale Veterinary Hospital.
  </p>

<h2>Money isn't the only way...</h2>
  <p> Our rats always appreciate the following items. </p>
  <div>
    <ul class="donatable-items">
      <li>Bedding - old sheets (untorn) and pillowcases (all sizes)</li>
      <li>Carefresh pet bedding and SoftSorb litter </li>
      <li>Gift cards to pet stores</li>
      <li>
        Gift cards to Trader Joe's, Whole Foods, Sprouts, or other grocery
        stores for fresh fruits/vegetables
      </li>
      <li>Toys and igloos (or other "hidey boxes")</li>
      <li>Water bottles and food dishes</li>
      <li>Mild laundry soap and bleach</li>
      <li>LARGE cages</li>
    </ul>
  </div>
</div>
