<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style="color:#363691">A new volunteer application form has been submitted.</h1>
    <h2>
      This application was submitted at
      <%= time_submitted(@volunteer_application.created_at) %> on 
      <%= date_submitted(@volunteer_application.created_at) %>.
    </h2>
    <div>
      <table style="border-collapse: collapse;">
        <% VolunteerApplication::FORM_FIELDS.each do |field| %>
          <tr>
            <td style="border:solid; border-width:1px; font-weight:bold;">
              <%= field %></td>
            <td style="border:solid; border-width:1px; width: auto;">
              <%= @volunteer_application[field] %></td>
          </tr>
        <% end %>
      </table>
    </div> 
  </body>
</html>
