<div class='row'>
	<div class="small-8 columns">
		<p>
			Any Rat Rescue is dedicated to the memory of Gus and Walter, the first rescue rats of original rescue director Therese Hitesman, who now lives in Washington state. Someone had set two male rats free in a Glendale, Arizona park and Therese knew they would not have the instincts needed to survive. She persisted through several monsoon showers, ultimately capturing the boys and moving them safely to her home.
		</p>

		<p>
			A group of local pet rat owners had met through an online forum for rat owners and, at Therese's urging, ultimately decided to formalize efforts to find homes for unwanted pet rats. The group of friends joined together to form Any Rat Rescue in the spring of 2004.
		</p>

		<p>
			Any Rat Rescue (ARR) operates as a network of foster homes throughout the Valley. ARR is incorporated in the State of Arizona and is a registered 501(c)(3) nonprofit organization. The rescue, which is dedicated to finding loving, forever homes for any rat in need, now facilitates adoptions for more than 150 pet rats per year.
		</p>
	</div>

	<div class="small-4 columns">
		<%= image_tag 'gw.jpg' %>
	</div>	
</div>