<div class="stats">
  <ul>
    <li>10<span>Rats available</span></li>
    <li>980<span>Adopted</span></li>
    <li>15<span>Adopted last month</span></li>
  </ul>
</div>

<div class="featured-pet">
  <SCRIPT src="https://fpm.petfinder.com/js/fpmstyle.js"></SCRIPT>
  <SCRIPT src="https://fpm.petfinder.com/fp/petfeed.cgi?lang=json&callback=fpm1&state=&shelter=AZ173&animal=&age=&ref=HYFVd3qSzpIqk3t"></SCRIPT>
</div>

<div>
  <p>
    See all <a href="https://www.petfinder.com/"><em> available rats</em></a>
  </p>
</div>

<div class="adoption-application">
</div>