<div class="stats">
  <ul>
    <li><%= @available_rats.count %><span>Rats available</span></li>
    <li>"Adopted"<span>Adopted</span></li>
    <li>"Adopted last month"<span>Adopted last month</span></li>
  </ul>
</div>

<div>
  <ul class="list-of-rats">
    <% @available_rats.each do |rat| %>
      <li>
        <%= image_tag rat.photos.first.medium, class: "rat-photo" %>
        <span class="text-content"><span><%= rat.name %></span></span>
      </li>
    <% end %>
  </ul>
</div>

