<div class="stats">
  <ul>
    <li>"Rats available"<span>Rats available</span></li>
    <li>"Adopted"<span>Adopted</span></li>
    <li>"Adopted last month"<span>Adopted last month</span></li>
  </ul>
</div>
