<h2 class="resource-title"> Recommended vets - Phoenix Metro </h2>
<ul class="resources">
  <li class="block"> 
    <h3> Dr. Bill Langhofer </h3>
    <p> The Scottsdale Veterinary Clinic </p>
    <p><a href="www.scottsdaleveterinaryclinic.com"> 
      www.scottsdaleveterinaryclinic.com </a></p>
    <p> 480-945-8484 </p>
  </li>
  <li class="block">
    <h3> Desert Bloom Mobile Veterinary Service </h3>
    <p><a href="www.desertbloom-mobilevet.com"> www.desertbloom-mobilevet.com 
    </a></p>
    <p> 480-839-2824 </p>
  </li>

  <li class="block">
    <h3> Arrowhead Ranch Animal Hospital </h3>
    <p> Open 7 days a week! </p>
    <p><a href="www.arrowheadranchah.com"> www.arrowheadranchah.com </a></p>
    <p> 623-561-2677 </p>
  </li>

  <li class="block">
    <h3> Emergency Animal Clinic </h3>
    <p><a href="www.eac-az.com"> www.eac-az.com </a></p>
    <p> 5 locations throughout the Valley </p>
    <p> Open 24 hours </p>
    <p>(may or may not have a rat-experienced vet but will see any animal and attempt to stabilize them)</p>
  </li>
   
  <li class="block">
    <h3> Dr. Jeffery Jenkins </h3>
    <p> Ahwatukee Animal Care Hospital </p>
    <p> 480-893-0533 </p>
  </li>

  <li class="block">
    <h3> Dr. Ed Cohen </h3>
    <p> Anthem Pet Medical Center </p>
    <p><a href="www.anthempetcare.com"> www.anthempetcare.com </a></p>
    <p> 623-889-7090 </p>
  </li>

  <li class="block">   
    <h3> Dr. Kristina Kryda </h3>
    <p> Bell Ridge Animal Hospital </p>
    <p><a href="www.bellridgeah.com"> www.bellridgeah.com </a></p>
    <p> 602-938-1982 </p>
  </li>

  <li class="block">
    <h3> Dr. Susan Goshert </h3>
    <p> Union Hills Animal Hospital </p>
    <p><a href="www.unionhillsanimalhospital.com"> 
      www.unionhillsanimalhospital.com </a></p>
    <p> 602-863-6629 </p>
  </li>

   <li class="block">
    <h3> Dr. Todd Driggers </h3>
    <p> Avian and Exotic Animal Clinic of Arizona </p>
    <p><a href="www.aeacarizona.com"> www.aeacarizona.com </a></p>
    <p> 480-706-8478 </p>
  </li>

  <li class="block">
    <h3> Dr. Marilyn Lieb </h3>
    <p> Desert View Animal Hospital </p>
    <p><a href="www.dvah.com/"> www.dvah.com/ </a></p>
    <p> 602-955-5500 </p>
  </li>

 <li class="block">  
    <h3> Dr. Rebecca Johnson </h3>
    <p> Goodyear Animal Hospital </p>
    <p> Open 7 days a week! </p>
    <p><a href="www.goodyearah.com"> www.goodyearah.com </a></p>
    <p> 623-882-9000 </p>
  </li>

  <li class="block">
    <h3> Alta Mesa Animal Hospital </h3>
    <p><a href="www.altamesaanimalhospital.com">
      www.altamesaanimalhospital.com </a></p>
    480-981-1244 </p
  </li>
   
  <li class="block">
    <h3>Arizona Animal Wellness Center </h3>
    <p><a href="www.arizonaanimalwellnesscenter.com"> 
      www.arizonaanimalwellnesscenter.com </a></p>
    <p>480-988-3660</p>
    <p>480-422-6763</p>
    <p>888-420-0279</p>
  </li>
</ul>

<h2 class="resource-title"> Recommended vets - Tucson and surrounding area </h2>
<ul class="resources">
  <li class="block">
    <h3>Dr. Randall Evans </h3>
    Northwest Pet Clinic
    <p><a href="www.northwestpetclinic.com"> www.northwestpetclinic.com </a></p>
    <p>520-742-4148</p>
  </li>

  <li class="block">
    <h3> Dr. Shanne Edwards </h3>
    <p>Arizona Small Animal Clinic</p>
    <p>520-622-6231</p>
  </li>

  <li class="block">
    <h3> Dr. Jody Moffett </h3>
    <p>Sierra Animal Hospital </p>
    <p><a href="www.sierraanimalhospital.com"> 
      www.sierraanimalhospital.com </a></p>
    <p>520-458-8656 </p>
  </li>

  <li class="block">
    <h3> Dr. Michael Samuels </h3>
    <p>Central Animal Hospital </p>
    <p><a href="www.centralah.com"> www.centralah.com </a></p>
    <p>520-323-9912</p>
  </li>
</ul>