<ul class="resources">
  <h2> Recommended vets - Phoenix Metro </h2>
  <li class="block"> 
    <h3> Dr. Bill Langhofer </h3>
    The Scottsdale Veterinary Clinic
    <a href="www.scottsdaleveterinaryclinic.com"> www.scottsdaleveterinaryclinic.com </a>
    480-945-8484
  </li>
  <li class="block">
    <h3> Desert Bloom Mobile Veterinary Service </h3>
    <a href="www.desertbloom-mobilevet.com"> www.desertbloom-mobilevet.com </a>
    480-839-2824
  </li>

  <li class="block">
    <h3> Arrowhead Ranch Animal Hospital </h3>
    Open 7 days a week!
    <a href="www.arrowheadranchah.com"> www.arrowheadranchah.com </a>
    623-561-2677
  </li>

  <li class="block">
    <h3> Emergency Animal Clinic </h3>
    <a href="www.eac-az.com"> www.eac-az.com </a>
    5 locations throughout the Valley
    Open 24 hours
    (may or may not have a rat-experienced vet but will see any animal and attempt to stabilize them)
  </li>
   
  <li class="block">
    <h3> Dr. Jeffery Jenkins </h3>
    Ahwatukee Animal Care Hospital
    480-893-0533
  </li>

  <li class="block">
    <h3> Dr. Ed Cohen </h3>
    Anthem Pet Medical Center
    <a href="www.anthempetcare.com"> www.anthempetcare.com </a>
    623-889-7090
  </li>

  <li class="block">   
    <h3> Dr. Kristina Kryda </h3>
    Bell Ridge Animal Hospital 
    <a href="www.bellridgeah.com"> www.bellridgeah.com </a>
    602-938-1982
  </li>

  <li class="block">
    <h3> Dr. Susan Goshert </h3>
    Union Hills Animal Hospital
    <a href="www.unionhillsanimalhospital.com"> www.unionhillsanimalhospital.com </a>
    602-863-6629
  </li>

   <li class="block">
    <h3> Dr. Todd Driggers </h3>
    Avian and Exotic Animal Clinic of Arizona
    <a href="www.aeacarizona.com"> www.aeacarizona.com </a>
    480-706-8478
  </li>

  <li class="block">
    <h3> Dr. Marilyn Lieb </h3>
    Desert View Animal Hospital
    <a href="www.dvah.com/"> www.dvah.com/ </a>
    602-955-5500
  </li>

 <li class="block">  
    <h3> Dr. Rebecca Johnson </h3>
    Goodyear Animal Hospital
    Open 7 days a week!
    <a href="www.goodyearah.com"> www.goodyearah.com </a>
    623-882-9000
  </li>

  <li class="block">
    <h3> Alta Mesa Animal Hospital </h3>
    <a href="www.altamesaanimalhospital.com"> 
      www.altamesaanimalhospital.com </a>
    480-981-1244
  </li>
   
  <li class="block">
    <h3>Arizona Animal Wellness Center </h3>
    <a href="www.arizonaanimalwellnesscenter.com"> 
      www.arizonaanimalwellnesscenter.com </a>
    480-988-3660
    480-422-6763
    888-420-0279
  </li>
</ul>
<ul class="resources">
  <h2> Recommended vets - Tucson and surrounding area </h2>
   
  <li class="block">
    <h3>Dr. Randall Evans </h3>
    Northwest Pet Clinic
    <a href="www.northwestpetclinic.com"> www.northwestpetclinic.com </a>
    520-742-4148
  </li>

  <li class="block">
    <h3> Dr. Shanne Edwards </h3>
    Arizona Small Animal Clinic
    520-622-6231
  </li>

  <li class="block">
    <h3> Dr. Jody Moffett </h3>
    Sierra Animal Hospital
    <a href="www.sierraanimalhospital.com"> www.sierraanimalhospital.com </a>
    520-458-8656
  </li>

  <li class="block">
    <h3> Dr. Michael Samuels </h3>
    Central Animal Hospital
    <a href="www.centralah.com"> www.centralah.com </a>
    520-323-9912
  </li>
</ul>