<div class="notice">
  <p>
    ***IMPORTANT NOTICE***
  </p>
  <p>
    At this time our foster homes are full and our resources are stretched to their limits. We are overloaded due to taking in rats that were abandoned and left to breed freely at an extended stay hotel and are currently unable to take in surrenders. In the Phoenix area, we are referring families to the <a href="https://www.azhumane.org/"><em>Arizona Humane Society</em></a>. In Tucson, please contact the <a href="https://hssaz.org/"><em>Humane Society of Southern Arizona</em></a>. Both organizations do take pet rats."
  </p>
</div>

<div class="home-page-text">
  <h2> Welcome </h2>
  <p>
    Any Rat Rescue is a 501(c)(3) organization dedicated to finding loving, forever homes for rats in need, serving the Phoenix and Tucson metropolitan areas.
  </p>
  <p>
    We are approaching nearly 1,400 adoptions since our inception in 2004. We are a no-kill  rescue that truly accepts any domestic rat, regardless of health, age, or temperament.
  </p>
  <p>
    Any Rat Rescue is not a shelter, but rather a network of caring foster homes extending from Metro Phoenix to Tucson.
  </p> 
</div>

<div class ="text-with-side-image" %>
  <div class ="side-image">
    <%= image_tag("rat-1.jpg") %>
  </div>
  <div class ="home-page-text" %>
    <h2> How we began </h2>
    <p>
      Any Rat Rescue is dedicated to the memory of Gus and Walter, the first rescue rats of original rescue director Therese Hitesman, who now lives in Washington state. Someone had set two male rats free in a Glendale, Arizona park and Therese knew they would not have the instincts needed to survive. She persisted through several monsoon showers, ultimately capturing the boys and moving them safely to her home.
    </p>
    <p>
      A group of local pet rat owners had met through an online forum for rat owners and, at Therese's urging, ultimately decided to formalize efforts to find homes for unwanted pet rats. The group of friends joined together to form Any Rat Rescue in the spring of 2004.
    </p>
    <p>
      Any Rat Rescue (ARR) operates as a network of foster homes throughout the Valley. ARR is incorporated in the State of Arizona and is a registered 501(c)(3) nonprofit organization. The rescue, which is dedicated to finding loving, forever homes for any rat in need, now facilitates adoptions for more than 150 pet rats per year.
    </p>
    <p>
      For more information about the benefits and importance of rescue, click here to read "Why do rats need rescuing?
    </p>
  </div>
</div>
