<h2 id="scroll-link-4" class="resource-title">Pharmacy</h2>
<ul class="resources">
  <li class="block">
    <h3>Diamondback Pharmacy</h3>
    <p><a href="http://www.diamondbackdrugs.com"> www.diamondbackdrugs.com</a></p>
    <p>866-578-4420</p>
  </li>
</ul>
