<h2 id="scroll-link-6" class="resource-title">Rat guides</h2>
<ul class="resources">
  <% @rat_guides.each do |guide| %>
    <li class="resource-cards-small">
      <h3><%= guide["name"] %></h3>
      <p><a href="<%= guide["website"] %>">website</a></p>
    </li>
  <% end %>
</ul>
