<h2 id="scroll-link-6" class="resource-title">Rat guides</h2>
<ul class="resources">
  <li class="block">
    <p><a href="http://www.ratguide.com">www.ratguide.com</a></p>
    <p><a href="http://www.ratfanclub.org">www.ratfanclub.org</a></p>
    <p><a href="http://www.ratsrule.com">www.ratsrule.com</a></p>
    <p><a href="http://www.rmca.org">www.rmca.org</a></p>
    <p><a href="http://www.rattyrat.com">www.rattyrat.com</a></p>
    <p><a href="http://www.ratbehavior.org">www.ratbehavior.org</a></p>
    <p><a href="http://www.joinrats.com">www.joinrats.com</a></p>
    <p><a href="http://www.thesocialrat.com">www.thesocialrat.com</a></p>
    <p><a href="http://www.exoticpets.about.com">www.exoticpets.about.com</a></p>
    <p><a href="http://www.quite.co.uk">www.quite.co.uk</a></p>
    <p><a href="http://www.petrats.org">www.petrats.org</a></p>
  </li>
  <li class="block"> 
    <h3>Martin's Cages</h3>
    <p><a href="http://www.martinscages.com/products/cages/rat/">
      www.martinscages.com</a></p>
  </li>
  <li class="block">
    <h3>Suebee's Rat Diet</h3>
    <p><a href="http://www.ratsrule.com/diet.html">www.ratsrule.com/diet.html
    </a></p>
  </li>
</ul>
