<h2 id="scroll-link-5" class="resource-title">Rat Sitting</h2>
<ul class ="resources">
  <% @rat_sitting.each do |sitter| %>
    <li class="resource-cards-small">
      <h3><%= sitter["name"] %></h3>
      <p><%= simple_format sitter["contact"] %></p>
    </li>
  <% end %>
</ul>
