<h2 id="scroll-link-2" class="resource-title"> Recommended vets - Tucson and surrounding area </h2>
<ul class="resources">
  <li class="block">
    <h3>Dr. Randall Evans </h3>
    Northwest Pet Clinic
    <p><a href="http://www.northwestpetclinic.com"> www.northwestpetclinic.com </a></p>
    <p>520-742-4148</p>
  </li>

  <li class="block">
    <h3> Dr. Shanne Edwards </h3>
    <p>Arizona Small Animal Clinic</p>
    <p>520-622-6231</p>
  </li>

  <li class="block">
    <h3> Dr. Jody Moffett </h3>
    <p>Sierra Animal Hospital </p>
    <p><a href="http://www.sierraanimalhospital.com"> 
      www.sierraanimalhospital.com </a></p>
    <p>520-458-8656 </p>
  </li>

  <li class="block">
    <h3> Dr. Michael Samuels </h3>
    <p>Central Animal Hospital </p>
    <p><a href="http://www.centralah.com"> www.centralah.com </a></p>
    <p>520-323-9912</p>
  </li>
</ul>
