<h2 id="scroll-link-3" class="resource-title">Recommended vets - Other areas </h2>
<ul class="resources">
  <li class="block">
    <h3>Dr. William Dean</h3>
    <p>Page Animal Hospital</p>
    <p><a href="http://www.pageanimalhospital.com"> www.pageanimalhospital.com 
    </a></p>
    <p>928-645-2816</p>
  </li>

  <li class="block">
    <h3>Dr. Kim McGill</h3>
    <p>Canyon Pet Hospital</p>
    <p><a href="http://www.canyonpet.com"> www.canyonpet.com</a></p>
    <p>928-774-5197</p>
  </li>
</ul>
