h1 {
  font-family: 'Architects Daughter', cursive;
  padding-top: 30px;
}

.form_questions {
  @include span-columns(8);
  @include shift(2);
}

.radio {
  padding: 10px 0;
}

.note {
  @include span-columns(8);
  @include shift(0);
  color: $dark-blue;
  padding: 10px 0 20px 0;
  text-align: center;
  width: 100%;
}

.field_with_errors {
  input {
    background: $error-color;
  }

  label {
    color: darken($error-color, 60%);
  }
}

#error_explanation {
  @include span-columns(8);
  @include shift(2);
  background-color: $error-color;
  margin-bottom: 10px;
  padding-bottom: 10px;

  h2 {
    font-size: 16px;
    color: darken($error-color, 60%);
    padding-left: 20px;
    padding-top: 10px;
  }

  ul {
    list-style-type: circle;
    padding-left: 40px;
  }

  li {
    color: darken($error-color, 60%);
  }
}
