.stats {
  @include span-columns(12);
  @include omega();
  $base-spacing: 1.5em !default;
  padding: base-spacing /Z;
  margin-top: 100px;
  text-align: center;

  ul {
    padding: 0;
  }

  li {
    border-right: 1px solid transparentize($dark-blue, 0.8);
    color: $blue;
    display: inline;
    float: left;
    font-size: 1.2em;
    line-height: 1.1em;
    padding: 0 0.7em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }

  span {
    color: $dark-blue;
    display: block;
    font-size: 1em;
    font-weight: normal;
  }
}

ul.list-of-rats {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.list-of-rats li{
  display: inline-block;
  height: 150px;
  margin: 100px 1em 1em 0;
  position: relative;
  width: 150px;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: $blue;
  cursor: pointer;
  display: table;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul.list-of-rats li:hover span.text-content {
  opacity: 1;
}

.rat-photo {
  object-fit: cover;
  object-position: 30% 70%;
  width: 150px;
  height: 100px;
}
