h1 {
  font-family: 'Architects Daughter', cursive;
  padding-top: 30px;
}

.form_questions {
  @include span-columns(8);
  @include shift(2);
}

.note {
  @include span-columns(8);
  @include shift(0);
  color: $dark-blue;
  padding: 10px 0 20px 0;
  text-align: center;
  width: 100%;
}

.new_adoption_application {

}
