$blue: #65BEDB;
$tan: #F7C797;
$dark-blue: #363691;
$light-tan: #F7E1CB;

header {
  min-height: 50px;
  display: inline;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  color: $dark-blue;
}

h2 {
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  color: $dark-blue;
}

.menu {
  background-color: $blue;
  @include span-columns(12);
  min-height: 50px;
  ul {
    list-style-type: none;
    li {
      display: inline;
      text-decoration: none;
      float: right;
      margin-left: 15px;
    }
  }
}

main {
  @include outer-container;
}

.side-image {
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $side-image-background-top: #B5EBEB;
  $side-image-background-bottom: #5DAC5D;
  $side-image-content-background: #F9F9F9;
  $side-image-border: 1px solid darken(transparentize($side-image-background-bottom, 0.8), 30%);
  
  background: $side-image-content-background;
}

.image-wrapper {
  background-size: cover;
  border-bottom: $side-image-border;
  display: block;
  min-height: 12em;
  padding: 3em;
  @include media($large-screen) {
    @include span-columns(4);
    background-position: bottom;
    background-size: cover;
    border-right: $side-image-border;
  }
}

.side-image-content {
  @include span-columns(12);
  padding: 1em 1em 4em 1em;
  
  @include media($large-screen) {
    @include span-columns(8);
    padding: 4em 4em 8em 4em;
  }

  @include reset-display();
}

body {
}

.resources {
  list-style-type: none;
  .block {
    @include span-columns(3);
    @include omega(4n);
    background-color: $light-tan;
    margin-top: 10px;
    margin-bottom: 10px;
    p {
      margin-top: 2px;
      margin-bottom: 2px;
    }
  }
}

.resource-title{
  @include span-columns(12);
}

.logo {
  height: 200px;
  width: 250px;
  margin-left: 50px;
  margin-top: 15px;
}

.block-text {
  @include span-columns(5);
  text-align: justify;
}

.notice {
  @include span-columns(4);
  background-color: $light-tan;
  text-align: justify;
  outline-color: $dark-blue;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
}

footer {

}