$blue: #65bedb;
$dark-blue: #363691;
$light-tan: #f7e1cb;
$tan: #f7c797;
$transparent: transparent;
$transparent-blue: transparentize($blue, 0.35);
$white: #ffffff;
$black: #000000;
$shadow: transparentize($black, 0.75);

main {
  @include outer-container;
}

body {
  margin: 0;
}
