$blue: #65BEDB;
$tan: #F7C797;
$dark-blue: #363691;
$light-tan: #F7E1CB;

header {
  min-height: 50px;
  text-align: center;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  color: $dark-blue;
}

h2 {
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  color: $dark-blue;
}

.menu {
  background-color: $blue;
  @include span-columns(12);
  min-height: 50px;
  ul {
    list-style-type: none;
    li {
      display: inline;
      text-decoration: none;
      float: right;
      margin-left: 15px;
    }
  }
}

main {
  @include outer-container;
}

body {
}

.resources {
  list-style-type: none;
  .block {
    @include span-columns(3);
    background-color: $light-tan;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.logo {
  height: 200px;
  width: 250px;
  margin-left: 50px;
  margin-top: 15px;
  float: left;
}

.block-text {
  @include span-columns(5);
  text-align: justify;
}

.notice {
  @include span-columns(4);
  background-color: $light-tan;
  text-align: justify;
  outline-color: $dark-blue;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
}

footer {

}