$blue: #65BEDB;
$tan: #F7C797;
$dark-blue: #363691;
$light-tan: #F7E1CB;

header {
  min-height: 50px;
  display: inline;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  color: $dark-blue;
}

h2 {
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  color: $dark-blue;
}

.menu {
  background-color: $blue;
  @include span-columns(12);
  min-height: 50px;
  ul {
    list-style-type: none;
    li {
      display: inline;
      text-decoration: none;
      float: right;
      margin-left: 15px;
    }
  }
}

main {
  @include outer-container;
}

.text-with-side-image {
  @include outer-container;
  @include span-columns(12);
  .side-image {
    @include span-columns(3 of 12);
    margin-right: 117px;
    margin-top: 100px;
    .block-text {
      @include span-columns (5 of 12);
      text-align: justify;
    }
  }
}

body {
}

.resources {
  list-style-type: none;
  .block {
    @include span-columns(3);
    @include omega(4n);
    background-color: $light-tan;
    margin-top: 10px;
    margin-bottom: 10px;
    p {
      margin-top: 2px;
      margin-bottom: 2px;
    }
  }
}

.resource-title{
  @include span-columns(12);
}

.logo {
  height: 200px;
  width: 250px;
  margin-left: 50px;
  margin-top: 15px;
}

.block-text {
  @include span-columns(5);
  text-align: justify;
}

.notice {
  @include span-columns(4);
  background-color: $light-tan;
  text-align: justify;
  outline-color: $dark-blue;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
}
.adopt-page {
  @include outer-container;
  .stats {
    @include span-columns(12);
    @include omega();
    $base-spacing: 1.5em !default;
    padding: base-spacing /Z;
    margin-top: 100px;
    text-align: center;

    ul {
      padding: 0;
    }

    li {
      border-right: 1px solid transparentize($dark-blue, 0.8);
      color: $blue;
      display: inline;
      float: left;
      font-size: 1.2em;
      line-height: 1.1em;
      padding: 0 0.7em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: 0;
      }
    }

    span {
      color: $dark-blue;
      display: block;
      font-size: 1em;
      font-weight: normal;
    }
  }

  .featured-pet {
    @include span-columns(2);
    margin-top: 100px;
  }

  .petfinder-link {
    @include span-columns(10);
    @include omega();
  }
}

footer {

}