.block-text {
  @include span-columns(6);
  @include shift(3);
}

.button {
  @include span-columns(3);
  @include shift(5.25);
  padding-bottom: 20px;
}

ul {
  @include shift(0.5);
  list-style-type: circle;
}

button > a {
  color: $white;

  &:hover {
    color: $white;
  }
}
