.field_with_errors {
  input {
    background: $error-color;
  }

  label {
    color: darken($error-color, 60%);
  }
}

#error-explanation {
  @include span-columns(8);
  @include shift(2);
  background-color: $error-color;
  margin-bottom: 10px;
  padding-bottom: 10px;

  h2 {
    color: darken($error-color, 60%);
    font-size: 16px;
    padding-left: 20px;
    padding-top: 10px;
  }

  ul {
    list-style-type: circle;
    padding-left: 40px;
  }

  li {
    color: darken($error-color, 60%);
  }
}

