header {
  min-height: 50px;
}

h1 {
  color: $dark-blue;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  color: $dark-blue;
}

#nav {
  background-color: $blue;
  border-style: ridge none;
  width: 100%;
  min-height: 50px;
  list-style-type: none;
  font-weight: bold;
  position: relative;
  margin-top: 0;
}
    
#nav li {
  float: right;
  margin-left: 15px;
  position: relative;

  &:first-child {
    padding-right: 50px;
  }
}

#nav a {
  display: block;
  padding: 12px 5px;
  text-decoration: none;
}

#nav a:hover {
  text-decoration: underline;
}

#nav ul{
  background: #fff;
  background: rgba(255, 255, 255, 0);
  list-style: none;
  position: absolute;
  /*left: -9999px;*/
}

#nav ul li{
  padding-top: 1px;
  float: none;
}

#nav ul a {
  white-space: nowrap;
}

#nav li:hover ul {
  right: 0;
}

#nav li:hover ul a {
  text-decoration: underline;
  background: transparentize($blue, 0.2);
}

.logo {
  border-style: outset;
  border-width: thick;
  height: 200px;
  margin-left: 50px;
  margin-top: 15px;
  width: 250px;
}

#banner-container {
  position: relative;
}

#banner {
  overflow: hidden;
  height: 250px;
  background: white;
}

.banner-image {
  height: 250px;
  width: 669px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}

#gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  height: 250px;
  width: 669px;
  @include linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 95%, rgba(255, 255, 255, 1) 100%, $fallback: transparent);
}
