header {
  min-height: 50px;
}

h1 {
  color: $dark-blue;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

h2 {
  color: $dark-blue;
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
}

.navigation-bar {
  background: $transparent-blue;
  border-style: ridge none;
  margin-bottom: 40px;
  min-height: 50px;
  position: relative;
}

.nav {
  @include span-columns(8);
  @include shift(3.25);
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
  list-style-type: none;
  margin-top: 0;

  > li {
    display: inline-block;
    padding: 15px;
  }

  a {
    text-decoration: none;
   
    &:hover {
      text-decoration: underline;
    }
  }
}

.dropdown {
  background: $white;
  display: none;
  list-style: none;
  padding-left: 0;
  position: absolute;

  li {
    padding: 5px 0;
  }
    
  a {
    white-space: nowrap;
  }
}

li:hover ul {
  background: $transparent-blue;
  display: block;
  margin-top: 10px;
  position: absolute;
  width: 100px;
}


.logo {
  box-shadow: -10px 10px 30px 0 $shadow;
  height: 190px;
  margin-left: 50px;
  margin-top: 25px;
  width: 240px;
}

.banner-container {
  position: relative;
}

.banner {
  background: $white;
  height: 250px;
  overflow: hidden;
}

.banner-image {
  bottom: 0;
  height: 250px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 669px;
}

.gradient {
  @include linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%, 
    rgba(255, 255, 255, 0) 5%,
    rgba(255, 255, 255, 0) 95%, 
    rgba(255, 255, 255, 1) 100%, 
    $fallback: $transparent
  );
  bottom: 0;
  height: 250px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 669px;
}

.banner-information {
  box-shadow: 10px 10px 30px 0 $shadow;
  float: right;

  margin-right: 50px;
  margin-top: 25px;

}

.contact-information {

  .type {
    padding: 5px 10px 0 20px;
    text-decoration: underline;
  }

  .detail {
    padding: 0 10px 5px 20px;
  }

  :first-child {
    padding-top: 12.5px;
  }

  :last-child {
    padding-bottom: 12.5px;
  }
}
