.newsletter-text {
  @include span-columns(7);
  @include shift(2.5);
  margin-top: 20px;
  text-align: center;
}

.newsletter-list {
  @include span-columns(7);
  @include shift(2.75);
}

img.thumbnail {
  height: 141px;
  padding: 10px;
  width: 109px;
}

li.flyer {
  display: inline;
}

button > a {
  color: $white;

  &:hover {
    color: $white;
  }
}
