.stats {
  @include span-columns(12);
  @include shift(3.5);
  $base-spacing: 1.5em !default;
  margin-bottom: 40px;
  margin-top: 50px;
  padding: base-spacing /Z;
  text-align: center;

  ul {
    padding: 0;
  }

  li {
    border-right: 1px solid transparentize($dark-blue, 0.8);
    color: $blue;
    display: inline;
    float: left;
    font-size: 1.2em;
    line-height: 1.1em;
    padding: 0 0.7em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }

  span {
    color: $dark-blue;
    display: block;
    font-size: 1em;
    font-weight: normal;
  }
}

.list-of-rats {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  
  li {
    display: inline-block;
    height: 150px;
    margin: 100px 1em 1em 0;
    position: relative;
    width: 150px;
  }
}

.rat-name-container {
  @include transition(opacity 500ms);
  background: rgba(0, 0, 0, 0.5);
  color: $blue;
  cursor: pointer;
  display: table;
  height: 100px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 150px;
 
  &:hover {
    opacity: 1;
  }
  
  .rat-name {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}

.rat-photo {
  height: 100px;
  object-fit: cover;
  object-position: 30% 70%;
  width: 150px;
}

.text {
  height: 100px;
  margin-top: 0;
  text-align: center;
}
