.resources {
  list-style-type: none;
}

h3 {
  font-family: $base-font-family;
  margin: 10px 0 10px 5px;
}
  
.resource-cards {
  @include span-columns(6);
  @include omega(2n);
  background-color: $light-tan;
  box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.75);
  height: 250px;
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;

  p {
    margin: 2px 0;
    padding-left: 5px;
  }

  .map {
    @include span-columns(6 of 6);
    bottom: 0;
    position: absolute;
  }

  img {
    bottom: 10px;
    height: auto;
    left: 200px;
    position: absolute;
    max-width: 300px;
  }

  .vet-details-left {
    @include span-columns(3 of 6);
    @include pad();
    padding-top: 0;
    text-align: left;
  }

  .vet-details-right {
    @include span-columns(3 of 6);
    @include reset-display;
    @include pad();
    @include omega();
    margin-top: 25px;
  }
}

.resource-title {
  @include span-columns(12);
  margin: 20px 0;
}

.resource-cards-small {
  @include span-columns(4);
  @include omega(3n);
  background-color: $light-tan;
  box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.75);
  margin-bottom: 10px;
  margin-top: 10px;
  min-height: 100px;

  p {
    margin-bottom: 2px;
    padding-left: 10px;
  }
}

aside {
  @include span-columns(12);
  @include shift(0);
  $base-spacing: 1.5em !default;
  margin: 50px 0 40px;
  padding: base-spacing /Z;
  text-align: center;
  text-decoration: none;

  .scroll-on-page-link {
    border-right: 1px solid transparentize($dark-blue, 0.8);
    color: $dark-blue;
    display: inline;
    font-size: 1.2em;
    line-height: 1.1em;
    padding: 0 0.7em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }
}
