h2 {
  margin: 20px 0 5px;
}

.question {
  margin-bottom: 20px;
  text-align: center;
}

.volunteer-text-image {
  @include span-columns(12);

  .volunteer-text {
    @include span-columns(6 of 12);
    @include shift(0.5);
    text-align: justify;
  }

  .volunteer-image {
    @include span-columns(3 of 12);
  }

  button {
    @include span-columns(2);
    @include shift(2.5);
    margin-bottom: 20px;
  }
}
