<h1> Foster Application </h1>

<% if @foster_application.errors.any? %>
  <%= render "error_messages/error_messages", object: @foster_application %>
<% end %>

<div class="form-questions">
  <%= render "foster_form_fields" %>
</div>
