<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style="color:#363691">A visitor to Any Rat Rescue has sent you a message.</h1>
    <div>
      <table style="border-collapse: collapse;">
        <% ContactMessage::FORM_FIELDS.each do |field| %>
          <tr>
            <td style="border:solid; border-width:1px; font-weight:bold;">
              <%= field %></td>
            <td style="border:solid; border-width:1px; width: auto;">
              <%= @contact_message[field] %></td>
          </tr>
        <% end %>
      </table>
    </div> 
  </body>
</html>
