<footer>
  <small>
    Copyright &copy; 2010-2014 Any Rat Rescue,
    All Rights Reserved
  </small>
  <div class="facebook">
    <%= link_to image_tag("fb.jpg", alt: "Find us on Facebook"), 
    "http://www.facebook.com/pages/Any-Rat-Rescue-AZ/270532797023?ref=ts" %>
  </div>
</footer>
